.dropdown{
  position: relative;
  color: #333;
  cursor: default;
  transition: all 0.2s ease-in-out;
  
  .arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: 0.3rem;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
  }
  
  .arrow.open {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
  }
  
  .selected__area{
    line-height: 1.5;
    font-size: 1rem;
    background-color: #fff;
    // border: 1px solid #ccc;
    // border-radius: 5px;
    border-radius: 6px;
		border: 1.5px solid #a5b3bf;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 100%;
    //
    cursor: pointer;
  }
  .selected__value{
    @extend .selected__area;
  }
  .selected__input__value input{
    @extend .selected__area;
  }
  
  .options__container {
    display: none;
    background-color: #fff;
    // border: 1px solid #ccc;
    // box-shadow: 8px 7px 20px rgb(137 137 137 / 6%);
    padding: 0;
    margin: 0;
    pointer-events: all;
    border: 1px solid rgb(233, 236, 239);
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 20px 25px -5px,
			rgb(0 0 0 / 4%) 0px 10px 10px -5px;
    box-sizing: border-box;
    // margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;


    
    
    .options__item  {
      box-sizing: border-box;
      color: rgba(51, 51, 51, 0.8);
      cursor: pointer;
      display: block;
      padding:10px 10px;
      //
      font-size: 15px;
      list-style-type: none;
			font-weight: 500;
			transition: all 0.2s;
      text-transform: capitalize;
    }
    
    .options__item.selected,
    .options__item:hover {
      // background-color: #f2f9fc;
      background-color: rgb(232 232 232 / 29%);
      color: #333;
    }
  }
  .options__container.open {
    display: block;
  }
    
      /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */

  ::-webkit-scrollbar-thumb {
    background: rgba(184, 184, 184, 0.856); 
  }

    
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 164, 164); 
  } 
}